{% extends "base.html" %}

{% block title %} Blogs {% endblock %}

{% block body %} 

<div class="flex flex-col items-center">
    <img src="/assets/writing.jpg" class="md:w-480 md:h-140 relative">
    <p class="text-5xl md:text-8xl font-bold text-white text-center absolute mt-30 md:mt-60">Our Blogs</p>
</div>

<!-- First row -->
<div class="grid grid-cols-1 md:grid-cols-4 px-10 md:pl-100 md:px-20 py-5 mb-2 mt-15">
    <div class="flex flex-col items-center">
        <img src="/assets/coffee.jpg" class="w-70 mb-8 h-70">
        <p class="text-lg text-center md:text-lg mb-2">18 February 2020</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">What Curling Irons Are The Best Ones</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Read More</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/boy.jpg" class="w-70 h-70 mb-8">
        <p class="text-lg text-center md:text-lg mb-2">21 February 2020</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">Eternity Bands Do Last Forever</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Read More</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/health.jpg" class="w-70 mb-8 h-70">
        <p class="text-lg text-center md:text-lg mb-2">28 February 2020</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">The Health Benefits Of Sunglasses</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Read More</p></a>
    </div>
</div>

<!-- Second row -->
<div class="grid grid-cols-1 md:grid-cols-4 px-10 md:pl-100 md:px-20 py-5 mb-2">
    <div class="flex flex-col items-center">
        <img src="/assets/shirt_6.jpg" class="w-70 mb-8 h-70">
        <p class="text-lg text-center md:text-lg mb-2">18 February 2020</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">Aiming For Higher The Mastopexy</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Read More</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/shirt_7.jpg" class="w-70 h-70 mb-8">
        <p class="text-lg text-center md:text-lg mb-2">21 February 2020</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">Wedding Rings A Gift For A Lifetime</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Read More</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/walk_1.jpg" class="w-70 mb-8 h-70">
        <p class="text-lg text-center md:text-lg mb-2">18 February 2020</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">Different Methods Of Hair Removal</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Read More</p></a>
    </div>
</div>

<!-- Third row -->
<div class="grid grid-cols-1 md:grid-cols-4 px-10 md:pl-100 md:px-20 py-5 mb-7">
    <div class="flex flex-col items-center">
        <img src="/assets/walk_2.jpg" class="w-70 mb-8 h-70">
        <p class="text-lg text-center md:text-lg mb-2">18 February 2020</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">Hoop Earrings A Style From History</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Read More</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/shirt_8.jpg" class="w-70 h-70 mb-8">
        <p class="text-lg text-center md:text-lg mb-2">21 February 2020</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">Lasik Eye Surgery Are You Ready</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Read More</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/shirt_9.jpg" class="w-70 mb-8 h-70">
        <p class="text-lg text-center md:text-lg mb-2">28 February 2020</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">Lasik Eye Surgery Are You Ready</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Read More</p></a>
    </div>
</div>

{% endblock %}
