{% extends "base.html" %}

{% block title %} Contact {% endblock %}

{% block body %} 

<div>
    <div class="flex flex-col items-center">
        <img src="/assets/map.jpg" class="md:w-480 md:h-140">
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 py-15">
        <div class="flex flex-col md:ml-70 text-center sm:text-center md:text-left">
            <p class="text-red-700 md:mb-2 text-xl">Information</p>
            <p class="text-5xl font-bold mb-4 mt-3">Contact Us</p>
            <p class="mb-7 leading-[1.5rem]">As you might expect of a company that began as a high-end interiors contractor, <br>we pay strict attention.</p>
            <p class="font-bold text-xl mb-2">America</p>
            <p class="mb-4 leading-[1.5rem]">195 E Parker Square Dr, Parker, CO 801 <br>+43 982-314-0958</p>
            <p class="font-bold text-xl mb-2">France</p>
            <p class="mb-2 leading-[1.5rem]">109 Avenue Léon, 63 Clermont-Ferrand <br>+12 345-423-9893</p>
        </div>    

        <div class="flex flex-col items-center md:mr-60 md:space-y-4 space-x-6">
            <div class="flex flex-wrap md:flex-nowrap space-x-4 w-full justify-center md:space-y-1 space-y-6">
                <input type="text" placeholder="Name" class="w-73 mr-0 md:mr-4 md:w-73 h-10 border border-2 border-gray-200 pl-3 text-black">
                <input type="text" placeholder="Email" class="w-73 mr-0 md:mr-1 md:w-73 h-10 border border-2 border-gray-200 pl-3 text-black">
            </div>
        
            <textarea name="message" id="message" placeholder="Message"
                class="w-73 md:w-150 mt-5 h-40 border border-2 border-gray-200 pl-3 pt-2 text-black"></textarea>
        
            <button class="text-lg text-center bg-black mt-5 py-2 px-8 text-white mb-2 hover:bg-gray-600 md:mr-105">
                Send Message
            </button>
        </div>
        
        
    </div>
</div>

{% endblock %}
