{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %} 

<div>
    <img src="/assets/shopping.jpg" class="md:size-fit size-fit h-screen relative flex items-center justify-center">
    <p class="absolute top-70 text-xl text-red-700 md:px-80 px-50 md:py-25 text-center font-bold uppercase">Winter Collection</p>
    <p class="absolute top-70 text-4xl md:text-7xl font-bold md:px-80 px-35 py-25 md:py-40 md:text-left text-center">Fall - Winter<br>Collections 2026</p>
    <p class="absolute top-85 md:top-70 text-2xl md:px-80 px-30 py-50 md:py-85 md:text-left text-center">A specialist label creating luxury essentials. Ethically crafted<br>with an unwavering commitment to exceptional quality</p>
    <button class="absolute ml-46 md:ml-80 mt-110 top-85 md:top-70 p-3 px-10 text-xl text-white bg-black hover:bg-gray-600">Shop Now<span class="inline-block -translate-y-0.5 ml-1">  &#8594;</span></button>
    <a href="https://facebook.com" target="_blank"><img src="/assets/facebook.png" class="absolute top-220 left-46 md:left-78 w-8"></a>
    <a href="https://linkedin.com" target="_blank"><img src="/assets/linkedin.png" class="absolute top-218 left-62 md:left-90 w-13"></a>
    <a href="https://x.com" target="_blank"><img src="/assets/x.png" class="absolute top-220 left-82 md:left-106 w-13"></a>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 py-20 md:pl-5 pl-10">
    <div class="flex flex-col items-center">
        <img src="/assets/shirt_1.jpg" class="mb-8">
        <p class="text-lg text-center md:text-3xl font-bold mb-2">Clothing Collection 2026</p>
        <button class="text-lg text-center bg-black rounded-lg mt-5 py-2 px-4 text-white mb-2 hover:bg-gray-600">Shop Now!</button>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/shoes_1.jpg" class="mb-8">
        <p class="text-lg text-center md:text-3xl font-bold mb-2">Shoes Spring 2026</p>
        <button class="text-lg text-center bg-black rounded-lg mt-5 py-2 px-4 text-white mb-2 hover:bg-gray-600">Shop Now!</button>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/glass_1.jpg" class="mb-8 w-110">
        <p class="text-lg text-center md:text-3xl font-bold mb-2">Accessories</p>
        <button class="text-lg text-center bg-black rounded-lg mt-5 py-2 px-4 text-white mb-2 hover:bg-gray-600">Shop Now!</button>
    </div>
</div>

<!-- Items Row 1 -->
<div class="grid grid-cols-1 md:grid-cols-4 px-10 md:pl-60 py-5">
    <div class="flex flex-col items-center">
        <img src="/assets/shirt_2.jpg" class="w-70 mb-8">
        <p class="text-lg text-center md:text-lg font-bold mb-2">Pique Biker Shirt</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">$67.24</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Add to Cart</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/shoes_2.jpg" class="w-70 h-70 mb-8">
        <p class="text-lg text-center md:text-lg font-bold mb-2">Pique Biker Shoe</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">$67.24</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Add to Cart</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/shirt_3.jpg" class="w-70 mb-8">
        <p class="text-lg text-center md:text-lg font-bold mb-2">Pique Biker Shirt</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">$67.24</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Add to Cart</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/shoes_3.jpg" class="w-70 h-73 mb-8">
        <p class="text-lg text-center md:text-lg font-bold mb-2">Pique Biker Shoe</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">$67.24</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Add to Cart</p></a>
    </div>
</div>

<!-- Items Row 2 -->
<div class="grid grid-cols-1 md:grid-cols-4 px-10 md:pl-60 py-5">
    <div class="flex flex-col items-center">
        <img src="/assets/shirt_4.jpg" class="w-70 h-73 mb-8">
        <p class="text-lg text-center md:text-lg font-bold mb-2">Pique Biker Shirt</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">$67.24</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Add to Cart</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/jacket_1.jpg" class="w-70 h-73 mb-8">
        <p class="text-lg text-center md:text-lg font-bold mb-2">Pique Biker Jacket</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">$67.24</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Add to Cart</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/jacket_2.jpg" class="w-70 h-73 mb-8">
        <p class="text-lg text-center md:text-lg font-bold mb-2">Pique Biker Jacket</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">$67.24</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Add to Cart</p></a>
    </div>

    <div class="flex flex-col items-center">
        <img src="/assets/shirt_5.jpg" class="w-70 h-73 mb-8">
        <p class="text-lg text-center md:text-lg font-bold mb-2">Pique Biker Jacket</p>
        <p class="text-lg mt-1 py-2 px-4 mb-[-7] font-bold">$67.24</p>
        <a href="#"><p class="text-lg mt-1 py-2 px-4 mb-[-2] hover:bg-gray-200">Add to Cart</p></a>
    </div>
</div>

{% endblock %}
