{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %} 

<div>
    <img src="/assets/shopping.jpg" class="md:size-fit size-fit h-screen relative flex items-center justify-center">
    <p class="absolute top-70 text-xl text-red-700 md:px-80 px-50 md:py-25 text-center font-bold uppercase">Winter Collection</p>
    <p class="absolute top-70 text-4xl md:text-7xl font-bold md:px-80 px-35 py-25 md:py-40 md:text-left text-center">Fall - Winter<br>Collections 2026</p>
    <p class="absolute top-85 md:top-70 text-2xl md:px-80 px-30 py-50 md:py-85 md:text-left text-center">A specialist label creating luxury essentials. Ethically crafted<br>with an unwavering commitment to exceptional quality</p>
    <button class="absolute ml-46 md:ml-80 mt-110 top-85 md:top-70 p-3 px-10 text-xl text-white bg-black hover:bg-gray-600">Shop Now<span class="inline-block -translate-y-0.5 ml-1">  &#8594;</span></button>
</div>

{% endblock %}
