{% extends "base.html" %}

{% block title %} Signup {% endblock %}

{% block body %} 

<form method="post" action="/" class="flex flex-col items-center space-y-4 md:space-y-6 px-4 max-w-md mx-auto mt-10">
    <h1 class="text-3xl md:text-4xl font-bold text-center">Signup</h1>
    <input 
        type="text" 
        name="name"
        placeholder="Name" 
        class="w-full h-10 md:h-12 border-2 border-gray-200 pl-3 text-black rounded-md focus:outline-none focus:border-gray-400"
    >
    <input 
        type="text"
        name="email" 
        placeholder="Email" 
        class="w-full h-10 md:h-12 border-2 border-gray-200 pl-3 text-black rounded-md focus:outline-none focus:border-gray-400"
    >
    <input 
        type="password" 
        name="password"
        placeholder="Password" 
        class="w-full h-10 md:h-12 border-2 border-gray-200 pl-3 text-black rounded-md focus:outline-none focus:border-gray-400"
    >

    <input 
        type="text" 
        name="role"
        placeholder="Role" 
        class="w-full h-10 md:h-12 border-2 border-gray-200 pl-3 text-black rounded-md focus:outline-none focus:border-gray-400"
    >
    <button type="submit" class="text-lg bg-black mt-2 py-2 px-8 text-white rounded-md hover:bg-gray-600 transition-colors w-full md:w-auto">Signup</button>

    <a href="/login" class="text-lg bg-black mt-2 py-2 px-8 text-white rounded-md hover:bg-gray-600 transition-colors w-full md:w-auto">Login</a>
    <a href="/forgot_password" class="text-lg bg-black mt-2 py-2 px-8 text-white rounded-md hover:bg-gray-600 transition-colors w-full md:w-auto">Forgot Password</a>
</form>

{% endblock %}
